body { 
  margin: 0%;
  overflow: hidden;
}

.n{
 width: 100vw;
 position: fixed;
}

.page{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/photodev.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.compétences{
  display: flex;
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
}

.htmlcss{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 10vh;
  left: calc(10% - 100px);
  opacity: 1;
  background-color: transparent;
}

.bar1{
  position: absolute;
  width: 300px;
  height: 20px;
  top: 25vh;
  left: calc(30% - 150px);
}

.js {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 50vh;
  left: calc(10% - 75px);
  opacity: 1;
  background-color: transparent;
}

.bar2{
  position: absolute;
  width: 300px;
  height: 20px;
  top: 65vh;
  left: calc(30% - 150px);
}

.php{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 10vh;
  left: calc(65% - 100px);
  opacity: 1;
  background-color: transparent;
}

.bar3{
  position: absolute;
  width: 300px;
  height: 20px;
  top: 25vh;
  left: calc(85% - 150px);
}

.python {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50vh;
  left: calc(65% - 75px);
  opacity: 1;
  background-color: transparent;
}

.bar4{
  position: absolute;
  width: 300px;
  height: 20px;
  top: 65vh;
  left: calc(85% - 150px);
}